html, body{
	height: 100%;
}
article{
	height:100%;
}
section{
	height:50%;
}
div {
	border: 1px solid black;
}
.game{
	height:50px;
	width:50px;
	text-align:center;
}
#num0, #num1, #num2, #num3, #num4, #num5, #num6, #num7, #num8{
}